.footer {
	position: absolute;
	bottom: 0;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

.main {
	padding-bottom: 10rem;
}

#top img {
	width: 100px;
	height: 100px;
}

#top h1 {
	font-weight: 700;
}

#bottom {
	margin-top: 62px;
}

#bottom-left {
	width: 300px;
	float: left;
}

#bottom-right {
	width: 100% - 300px;
}

.grid-item {
	margin-bottom: 2rem;
}

.grid-item img {
	width: 100%;
	overflow: hidden;
}

@media only screen and (min-width: 768px) {
	#bottom-right {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-item {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 985px) {
	#bottom-right {
		clear: both;
	}
}

@media only screen and (min-width: 986px) {
	#bottom-left {
		padding-right: 50px;
	}
	#bottom-right {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-item {
		margin: 0;
	}
}

@media only screen and (max-width: 985px) {
	#bottom-left {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 1150px) {
	#bottom-right {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: repeat(3, 1fr);
	}
	.grid-item {
		margin: 0;
	}
}